USE [master]
GO
/****** Object:  Database [Bank]    Script Date: 10/31/2024 9:00:13 AM ******/
CREATE DATABASE [Bank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bank', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Bank.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bank_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Bank_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bank]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 10/31/2024 9:00:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[id] [int] NOT NULL,
	[customerid] [varchar](255) NULL,
	[date_opened] [date] NULL,
	[balance] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRANCH]    Script Date: 10/31/2024 9:00:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCH](
	[id] [varchar](255) NOT NULL,
	[name] [varchar](255) NULL,
	[house_no] [varchar](255) NULL,
	[city] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 10/31/2024 9:00:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[id] [varchar](255) NOT NULL,
	[name] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[house_no] [varchar](255) NULL,
	[city] [varchar](255) NULL,
	[pin] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 10/31/2024 9:00:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[id] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 10/31/2024 9:00:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](10) NULL,
	[password] [nvarchar](10) NULL,
 CONSTRAINT [PK_LOGIN] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTION]    Script Date: 10/31/2024 9:00:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTION](
	[id] [int] NOT NULL,
	[from_account_id] [int] NULL,
	[branch_id] [varchar](255) NULL,
	[date_of_trans] [date] NULL,
	[amount] [float] NULL,
	[to_account_id] [int] NULL,
	[employee_id] [varchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([id], [customerid], [date_opened], [balance]) VALUES (1, N'C001', CAST(N'2023-03-16' AS Date), 25000)
INSERT [dbo].[ACCOUNT] ([id], [customerid], [date_opened], [balance]) VALUES (2, N'C002', CAST(N'2023-02-15' AS Date), 282000)
INSERT [dbo].[ACCOUNT] ([id], [customerid], [date_opened], [balance]) VALUES (3, N'C001', CAST(N'2022-12-29' AS Date), 10020)
GO
INSERT [dbo].[BRANCH] ([id], [name], [house_no], [city]) VALUES (N'B001', N'Da Nang', N'789', N'Da Nang')
INSERT [dbo].[BRANCH] ([id], [name], [house_no], [city]) VALUES (N'B002', N'Hai Phong', N'321', N'Hai Phong')
INSERT [dbo].[BRANCH] ([id], [name], [house_no], [city]) VALUES (N'B003', N'Binh Duong', N'66', N'Binh Duong')
GO
INSERT [dbo].[CUSTOMER] ([id], [name], [phone], [email], [house_no], [city], [pin]) VALUES (N'C001', N'Pham Ngoc Hai', N'0787582309', N'nhoai@gmail.com', N'123', N'Ha Noi', N'23333')
INSERT [dbo].[CUSTOMER] ([id], [name], [phone], [email], [house_no], [city], [pin]) VALUES (N'C002', N'Tran Van Minh', N'0912233445', N'minh@gmail.com', N'877', N'HCM', N'700000')
INSERT [dbo].[CUSTOMER] ([id], [name], [phone], [email], [house_no], [city], [pin]) VALUES (N'C003', N'Ho Thi Tu Uyen', N'0902678844', N'uyn@gmail.com', N'263', N'Hai Phong', N'232424')
GO
INSERT [dbo].[EMPLOYEE] ([id], [password], [role]) VALUES (N'1', N'123456', N'User')
INSERT [dbo].[EMPLOYEE] ([id], [password], [role]) VALUES (N'2', N'123456', N'User')
INSERT [dbo].[EMPLOYEE] ([id], [password], [role]) VALUES (N'E001', N'123', N'User')
GO
SET IDENTITY_INSERT [dbo].[LOGIN] ON 

INSERT [dbo].[LOGIN] ([id], [username], [password]) VALUES (1, N'admin', N'123456')
INSERT [dbo].[LOGIN] ([id], [username], [password]) VALUES (2, N'bngoc', N'123456')
INSERT [dbo].[LOGIN] ([id], [username], [password]) VALUES (2, N'nhuthuynh', N'123456')
SET IDENTITY_INSERT [dbo].[LOGIN] OFF
GO
INSERT [dbo].[TRANSACTION] ([id], [from_account_id], [branch_id], [date_of_trans], [amount], [to_account_id], [employee_id]) VALUES (1, 1, NULL, CAST(N'2024-10-28' AS Date), 1, 4, NULL)
INSERT [dbo].[TRANSACTION] ([id], [from_account_id], [branch_id], [date_of_trans], [amount], [to_account_id], [employee_id]) VALUES (2, 1, N'B001', CAST(N'2024-10-20' AS Date), 15, 1, N'1')
INSERT [dbo].[TRANSACTION] ([id], [from_account_id], [branch_id], [date_of_trans], [amount], [to_account_id], [employee_id]) VALUES (3, 1, N'B004', CAST(N'2024-10-28' AS Date), 2, 2, NULL)
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[CUSTOMER] ([id])
GO
ALTER TABLE [dbo].[TRANSACTION]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[BRANCH] ([id])
GO
ALTER TABLE [dbo].[TRANSACTION]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[EMPLOYEE] ([id])
GO
ALTER TABLE [dbo].[TRANSACTION]  WITH CHECK ADD FOREIGN KEY([from_account_id])
REFERENCES [dbo].[ACCOUNT] ([id])
GO
ALTER TABLE [dbo].[TRANSACTION]  WITH CHECK ADD FOREIGN KEY([to_account_id])
REFERENCES [dbo].[ACCOUNT] ([id])
GO